<tal:block tal:condition="errorMessage">
    <p tal:content="errorMessage"></p>
</tal:block>

<tal:block tal:condition="not: errorMessage">
    <div class="game" tal:repeat="item game">
        <div class="thumb"><a tal:attributes="href string:${HOST_URL}/play/${item/filepath}-${item/slug}"><img
            tal:attributes="src string:${HOST_URL}/img/games/${item/filepath}/${item/slug}.${item/thumbtype}; alt item/title" /></a>
        </div>
        <div class="game-info">
            <h3><a tal:attributes="href string:${HOST_URL}/play/${item/filepath}-${item/slug}" tal:content="item/title"></a></h3>
            <p tal:content="item/description"></p>
        </div>
        <br tal:condition="php: (repeat.item.number % 3) == 0" />
    </div>
    <p class="browse"><a tal:attributes="href php:categoryLink(category['title'])"
                        tal:content="string:Browse All ${category/title} Games &raquo;"></a></p>
</tal:block>
