<tal:block metal:define-macro="analytics">
    <script type="text/javascript">
    var pkBaseURL = (("https:" == document.location.protocol) ? "https://analytics.gamesnapper.com/" : "http://analytics.gamesnapper.com/");
    document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    </script><script type="text/javascript">
    try {
    var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 8);
    piwikTracker.trackPageView();
    piwikTracker.enableLinkTracking();
    } catch( err ) {}
    </script><noscript><p><img src="http://analytics.gamesnapper.com/piwik.php?idsite=8" style="border:0" alt="" /></p></noscript>
</tal:block>

<tal:block metal:define-macro="main">
    <!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="utf-8" />
    <tal:block tal:replace='structure string:<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->' />
    <tal:block tal:replace='structure string:<!--[if lt IE 7]><script type="text/javascript" src="http://shapeshed.github.com/ie6-notice/ie6notice-1.0.0.min.js"></script><![endif]-->' />
    <title tal:content="pageTitle"></title>
    <link rel="stylesheet" tal:attributes="href string:${HOST_URL}/css/common.css" />
    <tal:block tal:condition="DEBUG_MODE">
        <script tal:attributes="src string:${HOST_URL}/js/jquery.js"></script>
        <script tal:attributes="src string:${HOST_URL}/js/swfobject.js"></script>
    </tal:block>
    <tal:block tal:condition="not: DEBUG_MODE">
        <script tal:attributes="src string:${HOST_URL}/js/gs.js"></script>
    </tal:block>

    <tal:block metal:define-slot="head_javascript" />
    <tal:block metal:define-slot="head_css" />
    </head>
    <body>

    <tal:block
        tal:define="global activeHome string:inactive;
                    global activeGames string:inactive;
                    global activeContact string:inactive" />

    <div id="header-outer">
        <div id="header">
            <div class="std-width">
                <ul id="nav">
                    <li><a tal:attributes="href HOST_URL; class activeHome">Home</a></li>
                    <li><a tal:attributes="href string:${HOST_URL}/gaming; class activeGames">Games</a></li>
                    <li><a tal:attributes="href string:${HOST_URL}/contact; class activeContact">Contact</a></li>
                </ul>
                <div id="banner">
                    <h1 id="logo"><a tal:attributes="href HOST_URL">GameSnapper</a></h1>
                </div>
            </div>
        </div>
    </div>

    <tal:block metal:define-slot="prebody" />

    <div id="body-outer">
        <div id="body">
            <div class="std-width">
                <tal:block metal:define-slot="body" />
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="std-width">
            <ul>
                <li><a href="http://www.ugotgames.com/">UGotGames.com</a></li>
                <li><a href="http://www.playtomic.com/games">playtomic</a></li>
            </ul>
            <p>Copyright &copy; <tal:block tal:replace="php: date('Y')" /> GameSnapper</p>
        </div>
    </div>

    <tal:block tal:condition="not: DEBUG_MODE" metal:use-macro="commonLayout.html/analytics" />

    </body>
    </html>
</tal:block>
