<tal:block metal:use-macro="commonLayout.html/main"
    tal:define="activeGames string:active">
    <tal:block metal:fill-slot="head_css">
        <style>
        #body {
            height: 1700px;
        }
        h3 {
            padding-top: 1em;
            font-size: 120%;
        }
        #f {
            padding-top: 2em;
        }
        #cat {
            width: 170px;
            float: left;
        }
        #list {
            background-color: #4d1308;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            padding: 1em;
            margin-right: 0.5em;
            margin-bottom: 2em;
        }
        #list h3 {
            padding-bottom: 1em;
            text-transform: uppercase;
        }
        #list li {
            margin-left: 0px;
            list-style-type: none;
            line-height: 1.75em;
        }
        #list li a {
            display: block;
        }
        #list li a.active {
            font-weight: bold;
            background-color: #281308;
        }
        #browse {
            margin-left: 175px;
        }
        body {
            color: #fff;
        }
        .pg {
            margin-top: 10px;
            margin-bottom: 15px;
            text-transform: uppercase;
            width: 93%;
        }
        .pg li {
            display: inline;
            list-style-type: none;
            margin: 3px;
            line-height: 30px;
        }
        .pg a {
            padding: 2px 4px;
            border: 1px solid #454F5C;
            background: #5B6879;
            color: #fff;
            text-decoration: none;
        }
        .pg a.active {
            background-color: #000;
        }
        </style>
    </tal:block>

    <tal:block metal:fill-slot="body">
        <h3>Browse Games</h3>

        <div id="f">
            <div id="cat">
                <div id="list">
                    <h3>Categories</h3>
                    <ul>
                        <li><a tal:attributes="href string:${HOST_URL}/gaming;
                                               class php:selectedCategory EQ NULL ? 'active' : NULL">All Games</a></li>
                        <li tal:repeat="category categories">
                            <a tal:attributes="href php:categoryLink(category['title']);
                                               class php:category['id'] EQ selectedCategory ? 'active' : NULL"
                                tal:content="category/title"></a>
                        </li>
                    </ul>
                </div>
  <script type='text/javascript'>
  <!--
    var gamecetera_params = new Array();
    gamecetera_params['client'] = '8239d67b8955b0cc339b0015486e4fc6';
    gamecetera_params['width'] = 100;
    gamecetera_params['height'] = 100;
    gamecetera_params['bgcolor'] = '#19252c';
  //-->
  </script><script type='text/javascript'
    src='http://www.gamecetera.com/app/www/js/code/getCode.js'>
  </script>
  <br/>
  <a href="http://www.gamecetera.com/affiliate/add/8239d67b8955b0cc339b0015486e4fc6/" target="_blank">Links Exchange!</a>

<script type="text/javascript"><!--
google_ad_client = "ca-pub-5093190295525971";
/* GameSnapper Browse side */
google_ad_slot = "5410250777";
google_ad_width = 120;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
            </div>
            <div id="browse">
<script type="text/javascript">/*<![CDATA[*/
google_ad_client = "ca-pub-5093190295525971";
/* GameSnapper Browse */
google_ad_slot = "4203280078";
google_ad_width = 468;
google_ad_height = 60;
/*]]>*/
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
                <ul class="pg">
                    <li tal:condition="php: currentPage GT 1">
                        <a tal:attributes="href php: pageUrl . '-' . (currentPage - 1)">&laquo; Prev</a>
                    </li>
                    <li tal:repeat="page php: range(1, numPages)">
                        <a tal:attributes="href php: pageUrl . '-' . page;
                                           class php: (currentPage EQ page ? 'active' : NULL)"
                            tal:content="page"></a>
                    </li>
                    <li tal:condition="php: currentPage NE numPages">
                        <a tal:attributes="href php: pageUrl . '-' . (currentPage + 1)">Next &raquo;</a>
                    </li>
                </ul>
 
                <div class="game" tal:repeat="item games">
                    <div class="thumb"><a tal:attributes="href string:${HOST_URL}/play/${item/filepath}-${item/slug}"><img
                            tal:attributes="src string:${HOST_URL}/img/games/${item/filepath}/${item/slug}.${item/thumbtype}; alt item/title; title item/title" /></a>
                    </div>
                    <div class="game-info">
                        <h3><a tal:attributes="href string:${HOST_URL}/play/${item/filepath}-${item/slug}" tal:content="item/title"></a></h3>
                        <p tal:content="item/description"></p>
                    </div>
                    <br tal:condition="php: (repeat.item.number % 3) == 0" />
                </div>
           </div>
        </div>
    </tal:block>
</tal:block>
