<tal:block metal:use-macro="commonLayout.html/main"
    tal:define="activeGames string:active">

    <tal:block metal:fill-slot="head_javascript">
        <script type="text/javascript">/*<![CDATA[*/
        $(function() {
            swfobject.embedSWF("${flash_path}", "gcontainer", "${flash_width}", "${flash_height}", "9");
        });
        /*]]>*/</script>
    </tal:block>

    <tal:block metal:fill-slot="head_css">
        <style>
        #body {
            height: 1250px;
        }
        #gcontainer {
            text-align: center;
            display: block;
            margin: 0 auto;
            margin-left: -10px;
            padding-bottom: 10px;
            padding-top: 10px;
            width: 100%;
            background-color: #000;
        }
        #ginfo {
            width: 95%;
            margin-top: 10px;
            padding: 10px;
            background-color: #FFF4CF;
            color: #000;
        }
        #ginfo, #gdet {
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
        #ginfo a, #ginfo a:visited {
            color: #5a57b2;
        }
        #gdet {
            padding: 10px;
            background-color: #FFEAA3;
        }
        .game {
            height: 150px;
        }
        .game-info {
            width: 150px;
        }
        #other {
            padding-top: 10px;
        }
        #other p {
            color: #fff;
        }
        .twitter-share-button {
            float: left;
            padding-right: 25px;
        }
        </style>
    </tal:block>

    <tal:block metal:fill-slot="body">
        <p tal:condition="not: result">Sorry, something went wrong.</p>

        <tal:block tal:condition="result">
<script type="text/javascript">/*<![CDATA[*/
google_ad_client = "ca-pub-5093190295525971";
/* GameSnapper Play */
google_ad_slot = "9676946585";
google_ad_width = 728;
google_ad_height = 90;
/*]]>*/
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

            <div id="gcontainer">Alternative content</div>

            <div id="ginfo">
                <h2 tal:content="title" />

                <iframe src="http://www.facebook.com/plugins/like.php?href&amp;layout=button_count&amp;show_faces=false&amp;width=450&amp;action=like&amp;font&amp;colorscheme=dark&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>

                <a href="http://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

                <div id="gdet">
                    <b>Added:</b> <span tal:replace="added" /><br />
                    <b>Plays:</b> <span tal:replace="played" />
                </div>

                <p><b>Description</b><br /><span tal:replace="description" /></p>

<!--
                <p><b>Tags</b><br />
                    <span tal:repeat="category categories">
                        <a href="" tal:content="category/title"></a><span tal:condition="not: repeat/category/end">, </span>
                    </span>
                </p>
-->

                <p><b>Instructions</b><br /><span tal:replace="instructions" /></p>
            </div>

            <div id="other">
                <h3>Other free <span tal:replace="php: strtolower(categories[0].title)" /> games</h3>
                <p>When you've played enough <span tal:replace="title" /> be
                    sure to check out these other
                    <span tal:replace="php: strtolower(categories[0].title)" />
                    games.</p>
                <div class="game" tal:repeat="item otherGames">
                    <div class="thumb"><a tal:attributes="href string:${HOST_URL}/play/${item/filepath}-${item/slug}"><img
                        tal:attributes="src string:${HOST_URL}/img/games/${item/filepath}/${item/slug}.${item/thumbtype}; alt item/title" /></a>
                    </div>
                    <div class="game-info">
                        <h3><a tal:attributes="href string:${HOST_URL}/play/${item/filepath}-${item/slug}" tal:content="item/title"></a></h3>
                    </div>
                    <br tal:condition="php: (repeat.item.number % 4) == 0" />
                </div>
            </div>
        </tal:block>
    </tal:block>
</tal:block>
